{% extends "base.html" %}

{% block title %} List tasks {% endblock %}

{%  block content %}
    {% if error_msg %}
        <div>{{ error_msg }}</div>
    {% endif %}
    <div>
        <button>
            <a href="{% url 'create' %}">Add task</a>
        </button>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th scope="col">Tile</th>
                <th scope="col">Description</th>
                <th scope="col">Email</th>
                <th scope="col">Expiration Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in data.results %}
                <tr>
                    <th scope="row">{{ task.title }}</th>
                    <td>{{ task.description }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.expiration_date }}</td>
                    <td>
                        <button>
                            <a href="{% url 'update' task.id %}">Update</a>
                        </button>
                        <button>
                            <a href="{% url 'delete' task.id %}">Delete</a>
                        </button>
                    </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
    <br>
    <div>{{ msg }}</div>
    <br>
    <div>
        {% for page in data.total_pages %}
            <button><a href="/?page={{ page }}">{{ page }}</a></button>
        {% endfor %}
    </div>
{%  endblock %}